<%= form_for(bill) do |f| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		<div>
			<%= f.label :billNumber, "Bill Number" %><br>
			<%= f.text_field :billNumber %>
		</div>

  <div>
  	<%= f.label :name %><br>
    <%= f.text_field :name %>
	</div>

	<div id="bps">
		<%= f.fields_for(:bps) do |bp| %>
				<%= render 'bp_fields', :f => bp %>
		<% end %>
		<div class="links">
			<%= link_to_add_association 'add bps', f, :bps,render_options: { wrapper: 'inline' } %>
		</div>
	</div>




<div>
  	<%= f.label :propDate, "Date Proposed" %><br>
    <%= f.date_field :propDate %>
</div>

<div id="sponsors">
<%= f.fields_for(:sponsors) do |sponsor| %>
     <%= render 'sponsor_fields', :f => sponsor %>
<% end %>
    <div class="links">
     <%= link_to_add_association 'add sponsors', f, :sponsors,render_options: { wrapper: 'inline' } %>
     </div>
  </div>

  <div id="cosponsors">
<%= f.fields_for(:cosponsors) do |cosponsor| %>
     <%= render 'cosponsor_fields', :f => cosponsor %>
<% end %>
    <div class="links">
     <%= link_to_add_association 'add cosponsors', f, :cosponsors %>
     </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
